body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.Container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem 1rem;
}
