.Hero {
  width: 100%;
  height: 70vh;
  min-height: 400px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-bottom: -6rem;
}

.Hero_title {
  font-size: 5rem;
  line-height: 5rem;
  margin-bottom: 1rem;
}

.Hero_subtitle {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  font-weight: 100;
}

.Hero_callToAction {
  padding: 0 2rem;
  border-radius: 5rem;

  font-size: 1.25rem;
  line-height: 3rem;
}
