.Palette {
  display: flex;
}

.PaletteSwatch {
  flex-grow: 1;
  flex-basis: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.PaletteSwatch:before {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.PaletteSwatch_label {
  font-family: monospace;
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.HexInput_plainText {
  cursor: pointer;
}

.HexInput_input {
  width: 100%;
  border: none;

  text-align: center;
  font-family: monospace;
  font-size: 26px;
  line-height: 2rem;
  padding: 0;
  outline: none;
}
